<div class="blogs content">
    {{!-- <h2>{{ title }}</h2> --}}
    <div class="image1">
        <img src="images/u1.webp">
    </div>
    <section class="function">
        <ul>
            <a href="/train"><img src="images/train.jpg" alt=""><input type="buttom" value="Train images"></a>
            <!-- <a href="student.html"><img src="images/details.jpg" alt=""><input type="buttom" value="Student detail"></a> -->
            <a href="/takeAttendance"><img src="images/face.jpg"><input type="buttom" value="Take Attendance"></a>
            <a href="/viewAttendance"><img src="images/att.jpg" alt=""><input type="buttom" value="View Attendance"></a>
            {{!-- <a href=""><img src="images/images.jpg" alt=""><input type="buttom" value="Help"></a>  --}}
            {{!-- <a href="#"><img src="images/images.jpg" alt=""><input type="buttom" value="Exit"></a> --}}


        </ul>
    </section>
    <section class="function1">
        <ul>
            <!-- <a href=""><img src="img/photo.jpg" alt=""><input type="buttom" value="Photo"></a> -->
            <!-- <a href=""><img src="img/dev.jpg" alt=""><input type="buttom" value="Developer"></a> -->
        </ul>
    </section>
</div>