<div class="blogs content">
    <h2>{{ title }}</h2>
    <video autoplay></video>
    <script>
        // get video dom element
        const video = document.querySelector('video');
        
        // request access to webcam
        navigator.mediaDevices.getUserMedia({video: {width: 426, height: 240}}).then((stream) => video.srcObject = stream);
        
        // returns a frame encoded in base64
        const getFrame = () => {
            const canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            canvas.getContext('2d').drawImage(video, 0, 0);
            var data = canvas.toDataURL('image/jpeg', 1.0);
            return data;
        }
        function downloadImage(data, filename = 'untitled.png') {
            var a = document.createElement('a');
            a.href = data;
            a.download = filename;
            document.body.appendChild(a);
            a.click();
        }

        const WS_URL = 'ws://localhost:8001';
        const FPS = 3;
        const ws = new WebSocket(WS_URL);
        ws.onopen = () => { 
            console.log(`Connected to ${WS_URL}`);
            setInterval(() => {
                ws.send(getFrame());
                console.log(getFrame());
            }, 1000 / FPS);
        }
    </script>
</div>